<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-ToDo-App</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <h1>演習用タスク</h1>
        <div class="head">
            <label class="head_filter" v-for="label in options" v-cloak>
                <input type="radio" v-model="current" v-bind:value="label.value" v-cloak>
                <span>{{ label.label }}</span>
            </label>
            <p class="head_length" v-cloak>{{ todos.length }} 件中 {{ computedTodos.length }} 件を表示中</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th class="comment txt-left">タスク</th>
                    <th class="state">状態</th>
                    <th class="button"></th>
                </tr>
            </thead>
            <tbody>
                <!-- ToDoの要素１行ずつ繰り返し表示 -->
                <tr v-for="item in computedTodos" v-bind:key="item.id" v-cloak :class="{editing: item == editedTodo}">
                    <th v-cloak>{{ item.id }}</th v-cloak>
                    <td class="task" :class="'task-' + stateClass[item.state]" v-cloak>
                        <span>カテゴリ：{{ item.category }}</span>
                        <span class="txt-right">作成日：{{ item.created_at }}</span>
                        <span class="txt-right" v-if="item.updated_at">更新日時：{{ item.updated_at }}</span>
                        <pre>{{ item.comment }}</pre>
                        <div class="edit-form">
                            <div class="edit-form-item">
                                <textarea ref="edit_comment" v-model="item.comment" rows="3" placeholder="タスク内容" v-todo-focus="item == editedTodo">{{ item.comment }}</textarea>
                            </div>
                            <div class="edit-form-submit">
                                <button class="btn-tertiary" v-on:click="doEditCansel(item)" type="reset">キャンセル</button><button class="btn-primary" v-on:click="doEdit(item)">更新</button>
                            </div>
                        </div>
                    </td>
                    <td class="state" v-cloak>
                        <!-- 状態変更ボタン -->
                        <button class="btn-primary" v-bind:class="'state-' + stateClass[item.state]" v-on:click="doChangeState(item)">
                            {{ labels[item.state] }}
                        </button>
                    </td>
                    <td class="button" v-cloak>
                        <!-- 編集ボタン -->
                        <button class="btn-tertiary" v-on:click="doEditShow(item)" :disabled="item == editedTodo">編集</button>
                        <!-- 削除ボタン -->
                        <button class="btn-secondary" v-on:click.shift="doRemove(item)" :disabled="item == editedTodo">削除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="txt-gray txt-right txt-small">※削除ボタンは[shift]キーを押しながらクリックして下さい</p>

        <div class="all-clear">
            <button class="btn-secondary" v-on:click.shift.alt="doAllreset()">すべて削除</button>
            <p class="txt-gray txt-small">※すべて削除ボタンは[shift] + [alt / option]を押しながらクリックして下さい</p class="txt-gray">
        </div>

        <form class="add-form" v-on:submit.prevent="doAdd">
            <h2>新しいタスクの追加</h2>
            <div class="add-form-item">
                <span>カテゴリ：</span><input type="text" ref="category" size="20" placeholder="カテゴリ">
            </div>
            <div class="add-form-item">
                <span>タスク：</span><textarea ref="comment" rows="3" placeholder="タスク内容"></textarea>
            </div>
            <div class="add-form-submit">
                <button class="btn-tertiary" v-on:click="formReset(todos)" type="reset">リセット</button><button class="btn-primary" type="submit">追加</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>