[v-cloak] {
    display: none;
}

* {
    box-sizing: border-box;
    color: #555;
}

*:focus {
    outline: none;
}

#app {
    max-width: 960px;
    margin: 0 auto;
}

.head {
    margin: 8px 0;
    padding: 0 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.head_filter {
    width: calc(100% / 3 - 120px);
    margin-right: 8px;
    text-align: center;
}

.head_filter input {
    display: none;
}

.head_filter span {
    display: block;
    padding: 4px;
    border: solid 1px #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.head_filter input:checked+span {
    background: #539ef3;
    color: #fff;
    border: solid 1px #539ef3;
}

.head_length {
    width: 100%;
    font-size: 0.8rem;
    margin: 0;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    border-bottom: 2px solid #539ef3;
    /*#d31c4a */
    color: #539ef3;
}

th,
th {
    padding: 0 8px;
    line-height: 40px;
}

thead th.id {
    width: 50px;
}

thead th.state {
    width: 120px;
}

thead th.button {
    width: 100px;
}

tbody td.button,
tbody td.state {
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

tbody tr td,
tbody tr th {
    transition: all 0.4s;
}

tbody tr:nth-of-type(even) {
    background: #f5faff;
}

tbody tr td.task {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

tbody tr td.task span {
    display: block;
    width: calc(100% / 3);
    font-size: 12px;
    margin: 4px 0;
}

tbody tr td.task pre {
    display: block;
    width: 100%;
    font-size: 16px;
    margin: 0 0 4px;
}

tbody tr.editing td.task pre {
    display: none;
}

tbody tr td.task-finish pre {
    text-decoration: line-through;
    color: #aaa;
}

tbody tr.done td,
tbody tr.done th {
    background: #f8f8f8;
    color: #bbb;
}

tbody tr.editing td.button button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.all-clear {
    margin: 16px 0;
    padding: 16px;
    background: #eee;
}

.all-clear p {
    margin-bottom: 0;
}

.edit-form {
    display: none;
    width: 100%;
    margin: 8px 0;
    padding: 0;
}

.editing .edit-form {
    display: block;
}

.edit-form-item textarea {
    padding: 4px;
    width: 100%;
    font-size: 16px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.edit-form-submit {
    text-align: right;
}

.edit-form-submit button {
    width: 72px;
    margin-left: 16px;
}

.add-form {
    margin: 32px 0;
    padding: 16px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.add-form h2 {
    margin-top: 0;
}

.add-form-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 8px;
}

.add-form-item span {
    width: 16%;
}

.add-form-item input {
    padding: 4px;
    width: 84%;
    font-size: 16px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.add-form-item textarea {
    padding: 4px;
    width: 84%;
    font-size: 16px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

*::placeholder {
    color: #ddd;
}

.add-form-submit {
    text-align: right;
}

.add-form-submit button {
    width: 72px;
    margin-left: 16px;
}

.btn-primary {
    border: none;
    border-radius: 20px;
    line-height: 24px;
    padding: 0 8px;
    background: #539ef3;
    color: #fff;
    cursor: pointer;
}

.btn-secondary {
    border: none;
    border-radius: 20px;
    line-height: 24px;
    padding: 0 8px;
    background: #be2b18;
    color: #fff;
    cursor: pointer;
}

.btn-tertiary {
    border: none;
    border-radius: 20px;
    line-height: 24px;
    padding: 0 8px;
    background: #888888;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-tertiary:hover {
    opacity: 0.8;
}

.state-now {
    background: #539ef3;
    color: #fff;
}

.state-review {
    background: #f3c853;
    color: #fff;
}

.state-finish {
    background: #888888;
    color: #fff;
}

.txt-small {
    font-size: 0.8rem;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-gray {
    color: #aaa;
}